@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Sora:wght@100..800&display=swap');
:root{
    --slate-900: #282827;
    --slate-800: #3C3B3A;
    --slate-700: #766E6A;
    --slate-600: #AAA6A0;
    --slate-500: #c0bcb6;

    --cream-400: #e1dfc8;
    --cream-300: #E1E0CE;
    --cream-200: #eeebd6;
    --cream-100: #F5F4E2;

    --white: #FFFFFF;
    --black: #000000;
    --black-040: rgb(0 0 0 / 0.4);
    --black-030: rgb(0 0 0 / 0.3);
    --black-020: rgb(0 0 0 / 0.2);
    --black-010: rgb(0 0 0 / 0.1);
    --black-005: rgb(0 0 0 / 0.05);

    --grey: #C2C2C2;

    --transparent-30: rgb(0 0 0 / 0.3);
    --transparent-border-50: rgb(219 219 219 / 0.5);
    --transparent-border-30: rgb(219 219 219 / 0.3);
    --transparent-gradient: linear-gradient(277.8deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    --transparent-border-20: rgb(219 219 219 / 0.2);

    --lighter-shadow: var(--black-005);
    --light-shadow: var(--black-010);
    --shadow: var(--black-030);
    --shadow-bold: var(--black-040);

    --radial-gradient: radial-gradient(transparent, black);

    --font: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-styling: "Funnel Display", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);

    outline: none;
}
*:focus-visible{
    outline: 4px double var(--transparent-30);
    outline-offset: 2px;
}

body{
    background: var(--cream-100) url("/public/images/lm-body-bg.svg") no-repeat top right;
    background-size: contain;
    color: var(--slate-800);
    min-height: 100dvh;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    gap: 128px;
}

li{
    list-style-type: none;
}

a{
    color: var(--slate-800);
}

.w-full{
    width: 100%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.translucent{ box-shadow: 0 4px 5px var(--lighter-shadow);
    color: var(--white);
}
.translucent a{
    color: var(--white);
}

.text-muted{
    color: var(--slate-700);
}

.translucent .text-muted{
    color: var(--grey);
}

.line-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-section{
    min-height: calc(100dvh - 100px);
    padding: 1em;
}

.light-weight{
    font-weight: 300;
}
.medium-weight{
    font-weight: 500;
}
.bold-weight{
    font-weight: 700;
}

.text-center{
    text-align: center;
}

.flex-grow-1{
    flex: 1;
}

.blur-bg{
    backdrop-filter: blur(10px);
}

.flex-05{
    display: flex;
    gap: 0.5em;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.dot{
    width: var(--size, 20px);
    height: var(--size, 20px);
    background: var(--color, red);

    border-radius: 50%;
}

.overflow-hidden{
    overflow: hidden;
}


@media(min-width: 1024px){
    .main-section{
        padding-inline: 3em;
    }
}


.reverse,
.reverse a{
    color: var(--cream-100);
}

.reverse .text-muted{
    color: var(--slate-600);
}



/* DARK MODE */
.dark-theme{
    background: var(--slate-900) url("/public/images/dm-body-bg.svg") no-repeat top right;
    background-size: contain;
    color: var(--cream-100);
}

.dark-theme a{
    color: var(--cream-100);
}

.dark-theme .text-muted{
    color: var(--slate-600);
}

.dark-theme .reverse,
.dark-theme .reverse a{
    color: var(--slate-800);
}

.dark-theme .reverse .text-muted{
    color: var(--slate-700);
}

.dark-theme .translucent{
    color: var(--white);
}
.dark-theme .translucent a{
    color: var(--white);
}
.dark-theme .translucent .text-muted{
    color: var(--grey);
}

