@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Mozilla+Text:wght@200..700&display=swap');

:root{
    --brown-800: #292524;
    --brown-700: #524A48;
    --brown-600: #877D72;

    --beige-400: #D4C2AF;
    --beige-300: #F8E1C8;
    --beige-200: #F5E5D4;
    --beige-100: #FFF0DF;


    --white: #FFFFFF;
    --black: #000000;
    --grey: #C2C2C2;

    --transparent-30: rgb(0 0 0 / 0.3);
    --transparent-border-50: rgb(219 219 219 / 0.5);
    --transparent-border-30: rgb(219 219 219 / 0.3);

    --light-shadow: rgb(0 0 0 / 0.1);

    --radial-gradient: radial-gradient(transparent, black);

    --font-title: "Mozilla Headline", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font: 'Mozilla Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font), system-ui, -apple-system;
}

body{
    background: var(--beige-100);
    color: var(--brown-800);
    min-height: 100dvh;
}

svg{
    width: 20px;
}

li{
    list-style-type: none;
}

a{
    color: var(--brown-800);
}


/* GENERIC ELEMENTS */
.main-section{
    min-height: calc(100dvh - 100px);
}

.title{
    font-family: var(--font-title);
}

.icon{
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
}
.icon{
    width: var(--size, 20px);
}

.icon-wrapper{
    display: inline-flex;
}
.icon-wrapper svg{
    width: var(--size, 20px);
}

.btn{
    display: flex;
    align-items: center;
    gap: 0.5em;

    border: none;
    outline: none;
    cursor: pointer;

    background: transparent;
    padding: 0.5em;
    border-radius: 8px;
    width: fit-content;

    transition:
            transform 0.15s cubic-bezier(0.42, 0, 0, 1.06),
            background 0.15s ease-in-out;
}
.btn:hover{
    background: var(--beige-200);
}
.btn:focus-visible{
    outline: 4px double var(--beige-400);
    outline-offset: 2px;
}

.btn-reverse-clr{
    background: var(--brown-800);
    color: var(--beige-100);
}
.btn-reverse-clr:hover{
    background: var(--brown-700)
}

.icon-btn{
    align-items: center;
    justify-content: center;
}

@media(min-width: 1024px){
    .btn:active{
        transform: scale(0.95);
    }
}

.light-weight{
    font-weight: 300;
}
.medium-weight{
    font-weight: 500;
}

.text-center{
    text-align: center;
}

.flex-grow-1{
    flex: 1;
}

.blur-bg{
    backdrop-filter: blur(10px);
}

.flex-05{
    display: flex;
    gap: 0.5em;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.circle{
    width: var(--size, 20px);
    height: var(--size, 20px);
    background: var(--color, red);

    border-radius: 50%;
}


